NET   "ddr3_addr[0]"                           LOC = "J17"   |     IOSTANDARD = SSTL135              ;
NET   "ddr3_addr[10]"                          LOC = "G16"   |     IOSTANDARD = SSTL135              ;
NET   "ddr3_addr[11]"                          LOC = "G18"   |     IOSTANDARD = SSTL135              ;
NET   "ddr3_addr[12]"                          LOC = "H16"   |     IOSTANDARD = SSTL135              ;
NET   "ddr3_addr[13]"                          LOC = "G17"   |     IOSTANDARD = SSTL135              ;
NET   "ddr3_addr[1]"                           LOC = "J14"   |     IOSTANDARD = SSTL135              ;
NET   "ddr3_addr[2]"                           LOC = "J18"   |     IOSTANDARD = SSTL135              ;
NET   "ddr3_addr[3]"                           LOC = "D18"   |     IOSTANDARD = SSTL135              ;
NET   "ddr3_addr[4]"                           LOC = "J13"   |     IOSTANDARD = SSTL135              ;
NET   "ddr3_addr[5]"                           LOC = "E17"   |     IOSTANDARD = SSTL135              ;
NET   "ddr3_addr[6]"                           LOC = "K13"   |     IOSTANDARD = SSTL135              ;
NET   "ddr3_addr[7]"                           LOC = "E18"   |     IOSTANDARD = SSTL135              ;
NET   "ddr3_addr[8]"                           LOC = "H17"   |     IOSTANDARD = SSTL135              ;
NET   "ddr3_addr[9]"                           LOC = "F18"   |     IOSTANDARD = SSTL135              ;
NET   "ddr3_ba[0]"                             LOC = "D17"   |     IOSTANDARD = SSTL135              ;
NET   "ddr3_ba[1]"                             LOC = "H14"   |     IOSTANDARD = SSTL135              ;
NET   "ddr3_ba[2]"                             LOC = "K15"   |     IOSTANDARD = SSTL135              ;
NET   "ddr3_cas_n"                             LOC = "F16"   |     IOSTANDARD = SSTL135              ;
NET   "ddr3_ck_n[0]"                           LOC = "C17"   |     IOSTANDARD = DIFF_SSTL135         ;
NET   "ddr3_ck_p[0]"                           LOC = "C16"   |     IOSTANDARD = DIFF_SSTL135         ;
NET   "ddr3_cke[0]"                            LOC = "G14"   |     IOSTANDARD = SSTL135              ;
NET   "ddr3_dm[0]"                             LOC = "D15"   |     IOSTANDARD = SSTL135              ;
NET   "ddr3_dm[1]"                             LOC = "D12"   |     IOSTANDARD = SSTL135              ;
NET   "ddr3_dq[0]"                             LOC = "A18"   |     IOSTANDARD = SSTL135              ;
NET   "ddr3_dq[10]"                            LOC = "B13"   |     IOSTANDARD = SSTL135              ;
NET   "ddr3_dq[11]"                            LOC = "D14"   |     IOSTANDARD = SSTL135              ;
NET   "ddr3_dq[12]"                            LOC = "F13"   |     IOSTANDARD = SSTL135              ;
NET   "ddr3_dq[13]"                            LOC = "A11"   |     IOSTANDARD = SSTL135              ;
NET   "ddr3_dq[14]"                            LOC = "F14"   |     IOSTANDARD = SSTL135              ;
NET   "ddr3_dq[15]"                            LOC = "B11"   |     IOSTANDARD = SSTL135              ;
NET   "ddr3_dq[1]"                             LOC = "E16"   |     IOSTANDARD = SSTL135              ;
NET   "ddr3_dq[2]"                             LOC = "A15"   |     IOSTANDARD = SSTL135              ;
NET   "ddr3_dq[3]"                             LOC = "E15"   |     IOSTANDARD = SSTL135              ;
NET   "ddr3_dq[4]"                             LOC = "B18"   |     IOSTANDARD = SSTL135              ;
NET   "ddr3_dq[5]"                             LOC = "B17"   |     IOSTANDARD = SSTL135              ;
NET   "ddr3_dq[6]"                             LOC = "A16"   |     IOSTANDARD = SSTL135              ;
NET   "ddr3_dq[7]"                             LOC = "B16"   |     IOSTANDARD = SSTL135              ;
NET   "ddr3_dq[8]"                             LOC = "B14"   |     IOSTANDARD = SSTL135              ;
NET   "ddr3_dq[9]"                             LOC = "C14"   |     IOSTANDARD = SSTL135              ;
NET   "ddr3_dqs_n[0]"                          LOC = "A14"   |     IOSTANDARD = DIFF_SSTL135         ;
NET   "ddr3_dqs_n[1]"                          LOC = "B12"   |     IOSTANDARD = DIFF_SSTL135         ;
NET   "ddr3_dqs_p[0]"                          LOC = "A13"   |     IOSTANDARD = DIFF_SSTL135         ;
NET   "ddr3_dqs_p[1]"                          LOC = "C12"   |     IOSTANDARD = DIFF_SSTL135         ;
NET   "ddr3_odt[0]"                            LOC = "K16"   |     IOSTANDARD = SSTL135              ;
NET   "ddr3_ras_n"                             LOC = "F15"   |     IOSTANDARD = SSTL135              ;
NET   "ddr3_reset_n"                           LOC = "G13"   |     IOSTANDARD = SSTL135              ;
NET   "ddr3_we_n"                              LOC = "J15"   |     IOSTANDARD = SSTL135              ;
